#listClass {
  height: 100%;
  width: 100%;
}

#postTitle {
  height:30px;
  padding-left: 4px;
  background-color: rgb(44, 42, 42);
  color: white;
  padding-top: 6px;
  vertical-align: middle;
}

#postBody {
  height: 140px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(189, 180, 180);
}

#postDesc{
  padding-left: 4px;
}

#upvote { 
  width: 0; 
  height: 0;
  border-color: greenyellow;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid greenyellow;
  margin: 0 auto;
  padding-top: 35px;
} #upvote:hover{
  cursor: pointer;
  border-color: green;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid green;
  margin: 0 auto;
}

#downvote {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid orangered;
  margin: 0 auto;
} 
#downvote:hover{
  cursor: pointer;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid red;
  margin-left: -1px;
  margin: 0 auto;
}

#count{
  height:8px;
  width:100%;
  vertical-align: center;
  text-align: center;
  margin-top:5px;
  margin-bottom: 15px;
}

#voteBox{
  width:40px;
  height: 98%;
  float: right;
  position: relative;
  top: -54px;
  vertical-align: center;
  border: 1px dotted gray;
  background-color: rgb(182, 171, 152);
}

#postBodyArea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  text-align: left;
  padding:0 5px 150px;
  border:2px solid black;
}

#postTitleArea {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  text-align: left;
  border:2px solid black;
}

#postArea {
  width:50%;
  margin: 0 auto;
  height: 300px;
  text-align: center;
}

#submitButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#submitButton:hover{
  background-color: blue;
  cursor: pointer;
}
